@model IEnumerable<LineBot.Models.ReservationRequest>
@{
    bool DebugMode = false;
}

<h1>OK</h1>

@{
    if(DebugMode == true)
    {
        foreach (var item in Model)
        {
            <h5>@item.Id</h5>
            <h5>@item.UserId</h5>
            <h5>@item.FullName</h5>
            <h5>@item.ServiceDate</h5>
            <h5>@item.ServiceTime</h5>
            <h5>@item.PickupLocation</h5>
            <h5>@item.DropOffLocation</h5>
            <h5>@item.MedicalPurpose</h5>
            <h5>@item.AccompanyingPersons</h5>
            <h5>@item.ContactTitle</h5>
            <h5>@item.ContactPhoneNumber</h5>
            <h5>@item.ServiceType</h5>
            <h5>@item.LongTermCareQualification</h5>
            <h5>@item.Notes</h5>

            <hr />
        }

        @DateTime.UtcNow.AddHours(8).Date.AddHours(0).ToString("yyyy-MM-dd HH:mm:ss")
    }
}